// Colors

$accent:				#003366;
$gray:					#666666;
$bodycolor: 			#323232;

$btn-color:				blue;
$btn-color-dangerous:	red;
$btn-color-accent:		green;


// Typography

$sans:					"Helvetica Neue", Helvetica, Arial, sans-serif;

$base-size:				15;
$leading:				21;

$fontsize:				$base-size/16 * 1em;
$lineheight:			($leading/$base-size) * 1em;

// Grid

$page_width:			768px;
$grid-gutter:			28px;
$grid-column:			98px;