// Colors

$accent:				#003366;
$gray:					#666666;
$text-color: 			#323232;

$btn-color:				blue;
$btn-color-dangerous:	red;
$btn-color-accent:		green;

$link-color: 			$accent;


// Typography

$sans:					"Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: 				Georgia, serif;

$base-size:				15;
$leading:				21;

$fontsize:				$base-size/16 * 1em;
$lineheight:			($leading/$base-size) * 1em;

// Grid

$page-width:			768px;

// Viewports

$medium-screen: 		940px;
$small-screen: 			560px;