/*	=ELEMENT SETUP
----------------------------------------------------------------------*/

img,
object,
embed,
iframe {
	max-width: 100%;
	height: auto;
	
	&.noscale {
		max-width: none;
	}
}

a {
	color: $link-color;
}